.infoDesk_weather, .infoDesk_clock {
	position: relative;
	width: 270px;
	margin-bottom: 12px;
}

.infodDesk_weatherName, .infoDesk_clockName {
	position: relative;
	margin-bottom: 24px;
}

.infoDesk_weatherAPI, .infoDesk_clockSVG {
	height: 194px;
	background-color: #5e8289;
}

