@font-face {
	font-family: "Borea__";
	src: url('../fonts/Borea/Borea___.eot') format('embedded-opentype');
	src: url('../fonts/Borea/Borea___.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Borea/Borea___.woff') format('wpff'),
	url('../fonts/Borea/Borea___.ttf') format('truetype'),
	url('../fonts/Borea/Borea___.svg') format('svg');

	font-family: 'Segoe Print';
	src: url('../fonts/SegoePrint/SegoePrint.eot');
	src: local('Segoe Print'), local('SegoePrint'),
		url('../fonts/SegoePrint/SegoePrint.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoePrint/SegoePrint.woff') format('woff'),
		url('../fonts/SegoePrint/SegoePrint.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}