$cellDateBackground_r : 97;
$cellDateBackground_g : 131;
$cellDateBackground_b : 142;

$cellDaysBackground : #5f8087;

$cellDateTextColor : #e7e7e7;

$headTextColor : #71929c;

$theMainfont: "Borealis";

$theListFont: "Segoe Print";

