<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>

	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body style="background: url(assets/img/MultLightGreen.jpg) center center fixed no-repeat">
	<div class="theMainBox">
		<section class="infoDesk">
			<div class="infoDesk_weather">
				<div class="infodDesk_weatherName textHead"> Weather API</div>
				<div class="infoDesk_weatherAPI"> Weather will be here</div>
			</div>
			<div class="infoDesk_clock">
				<div class="infoDesk_clockName textHead"> Clock Canvas</div>
				<div class="infoDesk_clockSVG">
					<canvas id="canvas" width="200" height="200"></canvas>
				</div>
			</div>
		</section>

		<section class="events">
			<div class="eventsName textHead">Events</div>
			<div class="events_block">
				<div class="tabs">	
					<!-- Tabs line  -->			
				</div>
				<div class="tabs_content">
					<!-- Tasks list -->
				</div>
				<!-- <div>
					<div><input type="radio" name="radioItems" id="radio-1"></div>	
					<label>Завершить все</label>	
				</div> -->				
			</div>
			<div class="events_filters">
				<div class="no-filter addItem"><i class="far fa-plus-square"></i></div>
				<!-- <div class="filter filter_allTasks">
					<input type="checkbox" onclick="allTask()" id="all" value="all">
					<label for="all">All</label>
				</div> -->

				<div class="filter filter_completed">
					<input type="checkbox" onchange="completed(this)" id="completed" value="completed">
					<label class="completed" for="completed">Completed</label>
				</div>
				<div class="filter filter_act">
					<input type="checkbox" onchange="unacted(this)" id="unacted" value="unacted">
					<label for="unacted">Unacted</label>
				</div>
				<button id="push">Push</button>
			</div>
		</section>

		<section class="calendar">
			<div class="calendarDate textHead">
				<div class="calendarDate_year">2019</div>
				<div class="selectYear">
					<div class="cells">2018</div>
					<div class="cells">2019</div>
					<div class="cells">2020</div>
					<div class="cells">2021</div>
					<div class="cells">2022</div>
					<div class="cells">2023</div>
				</div>	
				<div class="calendarDate_month"></div>
				<div class="selectMonth">
					<div class="cellsM" data-month="0">Jan</div>
					<div class="cellsM" data-month="1">Feb</div>
					<div class="cellsM" data-month="2">Mar</div>
					<div class="cellsM" data-month="3">Apr</div>
					<div class="cellsM" data-month="4">May</div>
					<div class="cellsM" data-month="5">June</div>
					<div class="cellsM" data-month="6">July</div>
					<div class="cellsM" data-month="7">Aug</div>
					<div class="cellsM" data-month="8">Sep</div>
					<div class="cellsM" data-month="9">Oct</div>
					<div class="cellsM" data-month="10">Nov</div>
					<div class="cellsM" data-month="11">Dec</div>
				</div>					
			</div>
			<div class="calendarBlock">
				<table>
					<thead>
						<tr>
							<th>Sun</th>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
						</tr>
					</thead>
					<tbody id="days">
						
					</tbody>
				</table>
			</div>
		</section>

	</div>


	
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>
	
	<script type="text/javascript">
		function completed(self, from) {
			if (from) self.checked = false;
			let items = document.querySelectorAll('section.active .tabs_content_list_item');
			if (items.length == 0) return;
			let unacted = document.getElementById('unacted');
			
			if (unacted.checked == true) unacted.checked = false;
			if (self.checked == true) {

				for(let item of items) {
					var label = item.querySelector('label');
					if (label.style.textDecoration != 'line-through') {
						item.style.display = 'none';
					} else {
						item.style.display = '';
					}
				}
			} else {
				for(let item of items) {
					item.style.display = '';
				}
			}
		}

		function unacted(self, from) {

			if (from) self.checked = false;
			

			let items = document.querySelectorAll('section.active .tabs_content_list_item');
			if (items.length == 0) return;
			
			let completed = document.getElementById('completed');

			if (completed.checked == true) completed.checked = false;
			if (self.checked == true) {
				
				for(let item of items) {
					var label = item.querySelector('label');
					if (label.style.textDecoration == 'line-through') {
						item.style.display = 'none';
					} else {
						item.style.display = '';
					}
				}
			} else {
				for(let item of items) {
					item.style.display = '';
				}
			}
		}

		let canvas = document.getElementById('canvas');
		canvas.width = 270;
		canvas.height = 270;
		var ctx = canvas.getContext('2d');
		var ctr = canvas.getContext('2d');
		ctx.strokeStyle = '#5f8087';
		ctx.lineWidth = 3;

		ctr.lineWidth = 2;
		ctx.lineCap = 'round';
		ctx.shadowBlur = 6;
		ctx.shadowColor = '#d2f4fb'
		var baseX = 135;
		var baseY = 135;
		var baseX1 = 135;
		var baseY1 = 135;
		var baseX2 = 135;
		var baseY2 = 135;
		var r1 = 110;
		var r2 = 85;
		var r3 = 60;
		var curAngle = 0;
			// curAngle += 0.010472;
		function degToRad(degr) {
			let factor = Math.PI/180;
			return degr*factor;
		}

		function renderTime() {
			let now = new Date();
			let today = now.toDateString();
			let time = now.toLocaleTimeString();
			let hours = now.getHours();
			let minutes = now.getMinutes();
			let seconds = now.getSeconds();
			let milliseconds = now.getMilliseconds();
			let newSeconds = (seconds + (milliseconds/1000)).toFixed(1);
			let rad = (degToRad((newSeconds*0.6/0.1) - 90)).toFixed(6);
			let radMinutes = (degToRad((minutes*6) - 90));
			let radHours = (degToRad((hours*6) + 90));
			// console.log(rad, 1);


			//Background
			// ctx.fillStyle = '#71929c';
			// ctx.fillRect(0,0,200,200);
			let vx = r1*Math.cos(rad);
			let vy = r1*Math.sin(rad);
			let vx1 = r2*Math.cos(radMinutes);
			let vy1 = r2*Math.sin(radMinutes);
			let vx2 = r3*Math.cos(radHours);
			let vy2 = r3*Math.sin(radHours);


			//Hours


			ctx.clearRect(0,0, canvas.width, canvas.width);
			ctx.lineWidth = 2;
			ctr.beginPath();
			ctr.setLineDash([9, 15]);
			ctr.arc(baseX,baseY,r1,0, 360);

			ctr.moveTo(baseX+r2,baseX);
			ctr.arc(baseX,baseY,r2,0, 360);

			ctr.moveTo(baseX+r3,baseX);
			ctr.arc(baseX,baseY,r3,0, 360);
			ctr.stroke();

			ctr.setLineDash([0, 0]);
			ctx.lineWidth = 6;
			ctx.beginPath();
			ctx.arc(baseX1 + vx1,baseY1 + vy1,7, 0, 360);
			ctx.fillStyle = '#5f8087'
			ctx.stroke();	
			ctx.fill();



			ctx.beginPath();
			ctx.arc(baseX2 + vx2,baseY2 + vy2,9, 0, 360);
			ctx.fillStyle = '#5f8087'
			ctx.stroke();	
			ctx.fill();

			// Seconds
			
			ctx.beginPath();
			ctx.arc(baseX + vx,baseY + vy,4, 0, 360);
			// ctx.closePath();
			ctx.fillStyle = '#5f8087'
			
			ctx.stroke();
			// ctx.closePath();
			ctx.fill();


			// ctr.font="20px Segoe Print"
			// ctr.fillText('n', baseX + vx - 10,baseY + vy + 4);

			

			


			//Center
			ctx.beginPath();
			ctx.arc(baseX,baseX,2,0, 360);
			ctx.stroke();


			 window.requestAnimationFrame(renderTime)
		}

		renderTime();

		// setInterval(renderTime, 100);

	</script>

</body>
</html>