<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>

	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body style="background: url(assets/img/MultLightGreen.jpg) center center fixed no-repeat">
	<div class="theMainBox">
		<section class="infoDesk">
			<div class="infoDesk_weather">
				<div class="infodDesk_weatherName textHead"> Weather API</div>
				<div class="infoDesk_weatherAPI"> Weather will be here</div>
			</div>
			<div class="infoDesk_clock">
				<div class="infoDesk_clockName textHead"> Clock Canvas</div>
				<div class="infoDesk_clockSVG"></div>
			</div>
		</section>

		<section class="events">
			<div class="eventsName textHead">Events</div>
			<div class="events_block">
				<div class="tabs">	
					<!-- Tabs line  -->			
				</div>
				<div class="tabs_content">
					<!-- Tasks list -->
				</div>
				<!-- <div>
					<div><input type="radio" name="radioItems" id="radio-1"></div>	
					<label>Завершить все</label>	
				</div> -->				
			</div>
			<div class="events_filters">
				<div class="no-filter addItem"><i class="far fa-plus-square"></i></div>
				<!-- <div class="filter filter_allTasks">
					<input type="checkbox" onclick="allTask()" id="all" value="all">
					<label for="all">All</label>
				</div> -->

				<div class="filter filter_completed">
					<input type="checkbox" onchange="completed(this)" id="completed" value="completed">
					<label class="completed" for="completed">Completed</label>
				</div>
				<div class="filter filter_act">
					<input type="checkbox" onchange="unacted(this)" id="unacted" value="unacted">
					<label for="unacted">Unacted</label>
				</div>
				<button id="push">Push</button>
			</div>
		</section>

		<section class="calendar">
			<div class="calendarDate textHead">
				<div class="calendarDate_year">2019</div>
				<div class="selectYear">
					<div class="cells">2018</div>
					<div class="cells">2019</div>
					<div class="cells">2020</div>
					<div class="cells">2021</div>
					<div class="cells">2022</div>
					<div class="cells">2023</div>
				</div>	
				<div class="calendarDate_month"></div>
				<div class="selectMonth">
					<div class="cellsM" data-month="0">Jan</div>
					<div class="cellsM" data-month="1">Feb</div>
					<div class="cellsM" data-month="2">Mar</div>
					<div class="cellsM" data-month="3">Apr</div>
					<div class="cellsM" data-month="4">May</div>
					<div class="cellsM" data-month="5">June</div>
					<div class="cellsM" data-month="6">July</div>
					<div class="cellsM" data-month="7">Aug</div>
					<div class="cellsM" data-month="8">Sep</div>
					<div class="cellsM" data-month="9">Oct</div>
					<div class="cellsM" data-month="10">Nov</div>
					<div class="cellsM" data-month="11">Dec</div>
				</div>					
			</div>
			<div class="calendarBlock">
				<table>
					<thead>
						<tr>
							<th>Sun</th>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
						</tr>
					</thead>
					<tbody id="days">
						
					</tbody>
				</table>
			</div>
		</section>

	</div>


	
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>
	
	<script type="text/javascript">
		function completed(self, from) {
			if (from) self.checked = false;
			let items = document.querySelectorAll('section.active .tabs_content_list_item');
			if (items.length == 0) return;
			let unacted = document.getElementById('unacted');
			
			if (unacted.checked == true) unacted.checked = false;
			if (self.checked == true) {

				for(let item of items) {
					var label = item.querySelector('label');
					if (label.style.textDecoration != 'line-through') {
						item.style.display = 'none';
					} else {
						item.style.display = '';
					}
				}
			} else {
				for(let item of items) {
					item.style.display = '';
				}
			}
		}

		function unacted(self, from) {

			if (from) self.checked = false;
			

			let items = document.querySelectorAll('section.active .tabs_content_list_item');
			if (items.length == 0) return;
			
			let completed = document.getElementById('completed');

			if (completed.checked == true) completed.checked = false;
			if (self.checked == true) {
				
				for(let item of items) {
					var label = item.querySelector('label');
					if (label.style.textDecoration == 'line-through') {
						item.style.display = 'none';
					} else {
						item.style.display = '';
					}
				}
			} else {
				for(let item of items) {
					item.style.display = '';
				}
			}
		}

		// window.addEventListener("DOMContentLoaded", ready);

		// function ready() {
		// 	// window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
		// 	// if (!window.indexedDB) {
		// 	// 	window.alert('Ваш браузер не поддерживает indexedDB. Обновите браузер или используйте другой.');
		// 	// }
		// 	// var db = null;

		// 	// const BDname = "testDB1";

		// 	// const request = indexedDB.open(BDname, 1);

		// 	// request.onerror = (event) => {
		// 	// 	window.alert('Что-то пошло не так. Не могу создать базу данных!')
		// 	// };

		// 	// request.onsuccess = (event) => {
		// 	// 	db = event.target.result;

		// 	// 	db.onversionchange = () => {
		// 	// 		db.close;
		// 	// 		alert("База данных устарела, пожалуста, перезагрузите страницу.");
		// 	// 	}
		// 	// };

		// 	// request.onerror = (event) => {
		// 	// 	//выводим ошибку
		// 	// 	window.alert('Database error' + event.target.errorCode);
		// 	// }

		// 	// request.onupgradeneeded = (event) => {
		// 	// 	db = event.target.result;

		// 	// 	if (!db.objectStoreNames.contains('daily1')) { // if there's no "books" store
		// 	// 	    db.createObjectStore('daily1', {keyPath: "id"}); // create it
		// 	// 	}

				


		// 	// 	// // Создаем хранилище объектов для этой базы данных
		// 	// 	// var objectStore = db.createObjectStore(BDname, { keyPath: "myKey" });
		// 	// }

		// 	// request.onblocked = function() {
		// 	//   // есть другое соединение к той же базе
		// 	//   // и оно не было закрыто после срабатывания на нём db.onversionchange
		// 	// };

		// 	// let btn = document.getElementById('push');
		// 	// btn.addEventListener("click", addNote);

		// 	// function addNote() {
		// 	// 	console.log(db, IDBDatabase)
		// 	// 	const tx = db.transaction("daily1", "readwrite");
		// 	// 	const store = tx.objectStore('daily1');

		// 	// 	var req = store.add({
		// 	// 	"id": "12.01.2020",
		// 	// 	"task": "Разобраться с БД"
		// 	// });
		// 	// }

			


		// }
	</script>

</body>
</html>